*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
}

.logo{
font-size:24px;
font-weight:bold;
color:#00d4ff;
}

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:55px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
color:#bdbdbd;
margin-bottom:35px;
}

button{
padding:15px 35px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:18px;
margin:10px;
}

.start{
background:#00d4ff;
}

.learn{
background:transparent;
border:2px solid white;
color:white;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:60px;
}

.card{
background:#1e293b;
padding:30px;
border-radius:20px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

footer{
text-align:center;
padding:40px;
color:#aaa;
}
